<%- include('../../fragments/header.ejs') %>

<main>
  <script type="application/javascript" src="/js/validationParticipationForm.js"></script>
  <script type="application/javascript" src="/js/validationCommon.js"></script>
  <h2><%= pageTitle %></h2>
  <form class="form" method="post" action="<%= formAction %>" novalidate>
    <input type="hidden" name="_id" value="<%= participation._id %>">
    <label for="policeOfficer"><%= __('participation.form.officer') %><span class="symbol-required">*</span></label>
    <select class="<%= validationErrors.find(e => e.path.includes('PoliceOfficer_id')) ? 'error-input' : '' %>" name="PoliceOfficer_id" id="PoliceOfficer_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
      <% if (formMode != 'edit') { %>
      <option value="" selected><%= __('participation.form.officerSelect') %></option>
        <% } %>
      <% for(let i=0; i < allPoliceOfficers.length; i++) { let policeOfficer = allPoliceOfficers[i]; %>
      <option value="<%= policeOfficer._id %>" label="<%= policeOfficer.firstName + ' ' + policeOfficer.lastName %>"
          <%= (policeOfficer._id.toString() == participation.PoliceOfficer_id) ? 'selected' : ''%>></option>
      <% } %>
    </select>
    <span id="errorPoliceOfficer" class="errors-text">
      <% if (validationErrors && validationErrors.find(e => e.path.includes('PoliceOfficer_id'))) { %>
        <%= __(validationErrors.find(e => e.path.includes('PoliceOfficer_id')).message) %>
      <% } %>
    </span>
    <label for="case"><%= __('participation.form.case') %><span class="symbol-required">*</span></label>
    <select class="<%= validationErrors.find(e => e.path.includes('Case_id')) ? 'error-input' : '' %>" name="Case_id" id="Case_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
      <% if (formMode != 'edit') { %>
      <option value="" selected><%= __('participation.form.caseSelect') %></option>
        <% } %>
      <% for (let i=0; i < allCases.length; i++) { let Case = allCases[i]; %>
      <option value="<%= Case._id %>" label="<%= Case.name %>"
          <%= (Case._id.toString() == participation.Case_id) ? 'selected' : ''%>></option>
      <% } %>
    </select>
    <span id="errorCase" class="errors-text">
      <% if (validationErrors && validationErrors.find(e => e.path.includes('Case_id'))) { %>
        <%= __(validationErrors.find(e => e.path.includes('Case_id')).message) %>
      <% } %>
    </span>
    <label for="startingDate"><%= __('participation.form.startingDate') %><span class="symbol-required">*</span></label>
    <input class="<%= validationErrors.find(e => e.path.includes('startingDate')) ? 'error-input' : '' %>" type="date" name="startingDate" id="startingDate" value="<%= fmt.formatDate(participation.startingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
    <span id="errorStartingDate" class="errors-text">
      <% if (validationErrors && validationErrors.find(e => e.path.includes('startingDate'))) { %>
        <%= __(validationErrors.find(e => e.path.includes('startingDate')).message) %>
      <% } %>
    </span>
    <label for="endingDate"><%= __('participation.form.endingDate') %></label>
    <input class="<%= validationErrors.find(e => e.path.includes('endingDate')) ? 'error-input' : '' %>" type="date" name="endingDate" id="endingDate" value="<%= fmt.formatDate(participation.endingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
    <span id="errorEndingDate" class="errors-text">
      <% if (validationErrors && validationErrors.find(e => e.path.includes('endingDate'))) { %>
        <%= __(validationErrors.find(e => e.path.includes('endingDate')).message) %>
      <% } %>
    </span>
    <label for="actionTaken"><%= __('participation.form.actionTaken') %><span class="symbol-required">*</span></label>
    <textarea class="<%= validationErrors.find(e => e.path.includes('actionTaken')) ? 'error-input' : '' %>" id="actionTaken" name="actionTaken" placeholder="0 - 100 znaków" <%= (formMode == 'showDetails') ? 'disabled' : '' %>><%= participation.actionTaken%></textarea>
    <span id="errorActionTaken" class="errors-text">
      <% if (validationErrors && validationErrors.find(e => e.path.includes('actionTaken'))) { %>
        <%= __(validationErrors.find(e => e.path.includes('actionTaken')).message) %>
      <% } %>
    </span>
    <% if (formMode != 'showDetails') { %>
    <div class="form-buttons">
      <p id="errorsSummary" class="errors-text"></p>
      <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
      <a class="form-button-cancel" href="/Participation"><%= __('form.actions.cancel') %></a>
    </div>
    <% } else { %>
    <div class="form-buttons">
      <p id="errorsSummary" class="errors-text"></p>
      <a class="details-button-edit" href="/Participation/edit/<%= participation._id %>"><%= ('form.actions.edit') %></a>
      <a class="form-button-cancel" href="/Participation"><%= __('form.actions.return') %></a>
    </div>
    <% } %>
  </form>

</main>

<%- include('../../fragments/footer.ejs') %>