<%- include('../../fragments/header.ejs') %>

<main>
  <script type="application/javascript" src="/js/validationParticipationForm.js"></script>
  <script type="application/javascript" src="/js/validationCommon.js"></script>
  <h2><%= pageTitle %></h2>
  <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm(event);">
    <input type="hidden" name="_id" value="<%= participation._id %>">
    <label for="policeOfficer">Funkcjonariusz: <span class="symbol-required">*</span></label>
    <select name="PoliceOfficer_id" id="policeOfficer" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
      <option value="" selected>-- Wybierz funkcjonariusza --</option>
      <% for(let i=0; i < allPoliceOfficers.length; i++) { let policeOfficer = allPoliceOfficers[i]; %>
      <option value="<%= policeOfficer._id %>" label="<%= policeOfficer.firstName + ' ' + policeOfficer.lastName %>"
          <%= (participation._id && policeOfficer._id.toString() == participation.PoliceOfficer._id.toString()) ? 'selected' : ''%>></option>
      <% } %>
    </select>
    <span id="errorPoliceOfficer" class="errors-text"></span>
    <label for="case">Sprawa: <span class="symbol-required">*</span></label>
    <select name="Case_id" id="case" required <%= (formMode == 'showDetails') ? 'disabled' : '' %> >
      <option value="" selected>-- Wybierz sprawę --</option>
      <% for (let i=0; i < allCases.length; i++) { let Case = allCases[i]; %>
      <option value="<%= Case._id %>" label="<%= Case.name %>"
          <%= (participation._id && Case._id.toString() == participation.Case._id.toString()) ? 'selected' : ''%>></option>
      <% } %>
    </select>
    <span id="errorCase" class="errors-text"></span>
    <label for="startingDate">Data rozpoczęcia: <span class="symbol-required">*</span></label>
    <input type="date" name="startingDate" id="startingDate" value="<%= fmt.formatDate(participation.startingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
    <span id="errorStartingDate" class="errors-text"></span>
    <label for="endingDate">Data zakończenia: </label>
    <input type="date" name="endingDate" id="endingDate" value="<%= fmt.formatDate(participation.endingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
    <span id="errorEndingDate" class="errors-text"></span>
    <label for="actionTaken">Planowane działania: <span class="symbol-required">*</span></label>
    <textarea id="actionTaken" name="actionTaken" placeholder="0 - 100 znaków" <%= (formMode == 'showDetails') ? 'disabled' : '' %>><%= participation.actionTaken%></textarea>
    <span id="errorActionTaken" class="errors-text"></span>
    <% if (formMode != 'showDetails') { %>
    <div class="form-buttons">
      <p id="errorsSummary" class="errors-text"></p>
      <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
      <a class="form-button-cancel" href="list.ejs">Anuluj</a>
    </div>
    <% } else { %>
    <div class="form-buttons">
      <p id="errorsSummary" class="errors-text"></p>
      <a class="details-button-edit" href="/Participation/edit/<%= participation._id %>">Edytuj</a>
      <a class="form-button-cancel" href="/Participation">Powrót</a>
    </div>
    <% } %>
  </form>

</main>

<%- include('../../fragments/footer.ejs') %>