<%- include('../../fragments/header.ejs') %>

<main>
  <h2>Lista udziału w sprawach</h2>
  <table class="table-list">
    <thead>
    <tr>
      <th>Imię policjanta</th>
      <th>Nazwisko policjanta</th>
      <th>Sprawa</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <% for (let participation of participations) { %>
    <tr>
      <td><%= participation.PoliceOfficer.firstName %></td>
      <td><%= participation.PoliceOfficer.lastName %></td>
      <td><%= participation.Case.name %></td>
      <td>
        <ul class="list-actions">
          <li><a class="list-actions-button-details" href="/Participation/details/<%= participation._id%>"><span class="material-symbols-outlined">info</span></a></li>
          <li><a class="list-actions-button-edit" href="/Participation/edit/<%= participation._id%>"><span class="material-symbols-outlined">edit_square</span></a></li>
          <li><a class="list-actions-button-delete" href="/Participation/delete/<%= participation._id%>"><span class="material-symbols-outlined">delete</span></a></li>
        </ul>
      </td>
    </tr>
    <% } %>
    </tbody>
  </table>
  <p><a class="button-add" href="/Participation/add">Przydziel policjanta do sprawy</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>