<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationCaseForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateForm(event);">
        <input type="hidden" name="_id" value="<%= Case._id %>">
        <label for="name">Nazwa: <span class="symbol-required">*</span></label>
        <input type="text" name="name" id="name" placeholder="2-50 znaków" value="<%= Case.name%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorName" class="errors-text"></span>
        <label for="description">Opis sprawy: </label>
        <textarea id="description" name="description" placeholder="0-100 znaków" <%= (formMode == 'showDetails') ? 'disabled' : ''%>><%= Case.description%></textarea>
        <span id="errorDescription" class="errors-text"></span>
        <label for="startingDate">Data rozpoczęcia: <span class="symbol-required">*</span></label>
        <input type="date" name="startingDate" id="startingDate" value="<%= Case.startingDate %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorStartingDate" class="errors-text"></span>
        <label for="closingDate">Data zamknięcia: </label>
        <input type="date" name="closingDate" id="closingDate" value="<%= Case.closingDate %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorClosingDate" class="errors-text"></span>
        <% if (formMode != 'showDetails') { %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
            <a class="form-button-cancel" href="/Case">Anuluj</a>
        </div>
        <% } else {%>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <a class="details-button-edit" href="/Case/edit/<%= Case._id %>">Edytuj</a>
            <a class="form-button-cancel" href="/Case">Powrót</a>
        </div>
        <% } %>
    </form>
    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
    <h2>Przypisani funkcjonariusze</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Imię policjanta</th>
            <th>Nazwisko policjanta</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Podjęte działania</th>
        </tr>
        </thead>
        <tbody>
        <% for (let participation of Case.participations) { %>
        <tr>
            <td><%= participation.PoliceOfficer.firstName %></td>
            <td><%= participation.PoliceOfficer.lastName %></td>
            <td><%= participation.startingDate.toISOString().split('T')[0] %></td>
            <td><%= participation.endingDate ? participation.startingDate.toISOString().split('T')[0] : '' %></td>
            <td><ul class="list-actions">
                    <a class="list-actions-button-details" href="/Participation/detalis/<%= participation._id %>"><span class="material-symbols-outlined">info</span></a>
                </ul>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>

</main>

<%- include('../../fragments/footer.ejs') %>