
<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationCaseForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate>
        <input type="hidden" name="_id" value="<%= Case._id %>">
        <label for="name"><%= __('case.fields.name')%><span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>" type="text" name="name" id="name" placeholder="2-50 znaków" value="<%= Case.name%>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorName" class="errors-text">
            <% if (validationErrors && validationErrors.find(e => e.path.includes('name'))) { %>
            <%= __(validationErrors.find(e => e.path.includes('name')).message) %>
            <% } %>
        </span>
        <label for="description"><%= __('case.fields.description')%></label>
        <textarea class="<%= validationErrors.find(e => e.path.includes('description')) ? 'error-input' : '' %>" id="description" name="description" placeholder="0-100 znaków" <%= (formMode == 'showDetails') ? 'disabled' : ''%>><%= Case.description%></textarea>
        <span id="errorDescription" class="errors-text">
            <% if (validationErrors && validationErrors.find(e => e.path.includes('description'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('description')).message) %>
            <% } %>
        </span>
        <label for="startingDate"><%= __('case.fields.startingDate')%><span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('startingDate')) ? 'error-input' : '' %>" type="date" name="startingDate" id="startingDate" value="<%= fmt.formatDate(Case.startingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorStartingDate" class="errors-text">
            <% if (validationErrors && validationErrors.find(e => e.path.includes('startingDate'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('startingDate')).message) %>
            <% } %>
        </span>
        <label for="closingDate"><%= __('case.fields.endingDate')%></label>
        <input class="<%= validationErrors.find(e => e.path.includes('closingDate')) ? 'error-input' : '' %>" type="date" name="closingDate" id="closingDate" value="<%= fmt.formatDate(Case.closingDate) %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorClosingDate" class="errors-text">
            <% if (validationErrors && validationErrors.find(e => e.path.includes('closingDate'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('closingDate')).message) %>
            <% } %>
        </span>
        <% if (formMode != 'showDetails') { %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
            <a class="form-button-cancel" href="/Case"><%= __('form.actions.return') %></a>
        </div>
        <% } else {%>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <a class="details-button-edit" href="/Case/edit/<%= Case._id %>"><%= __('form.actions.edit') %></a>
            <a class="form-button-cancel" href="/Case"><%= __('form.actions.return') %></a>
        </div>
        <% } %>
    </form>
    <% if (formMode == 'showDetails') { %>
    <h2><%= ('case.fields.asssignedPoliceOfficers') %></h2>
    <table class="table-list">
        <thead>
        <tr>
            <th><%= __('policeOfficer.fields.firstName') %></th>
            <th><%= __('policeOfficer.fields.lastName') %></th>
            <th><%= __('case.fields.startingDate') %></th>
            <th><%= __('case.fields.endingDate') %></th>
            <th><%= __('participation.fields.actionTaken')%></th>
        </tr>
        </thead>
        <tbody>
        <% for (let participation of Case.participations) { %>
        <tr>
            <td><%= participation.PoliceOfficer.firstName %></td>
            <td><%= participation.PoliceOfficer.lastName %></td>
            <td><%= fmt.formatDate(participation.startingDate) %></td>
            <td><%= fmt.formatDate(participation.endingDate) %></td>
            <td><ul class="list-actions">
                    <a class="list-actions-button-details" href="/Participation/details/<%= participation._id%>"><span class="material-symbols-outlined">info</span></a>
                </ul>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>

</main>

<%- include('../../fragments/footer.ejs') %>