<%- include('../../fragments/header.ejs') %>

<main>
  <h2><%= __('policeOfficer.list.title')%></h2>
  <table class="table-list">
    <thead>
        <tr>
            <th><%= __('policeOfficer.fields.firstName') %></th>
            <th><%= __('policeOfficer.fields.lastName') %></th>
            <th><%= __('policeOfficer.fields.rank') %>`</th>
            <th><%= __('policeOfficer.fields.department') %></th>
            <th><%= __('policeOfficer.fields.salary') %></th>
            <% if (loggedUser) {%>
                <th><%= __('list.actions.title') %></th>
            <% } %>
        </tr>
    </thead>
      <tbody>
        <% for (let policeOfficer of policeOfficers) { %>
            <tr>
                <td><%= policeOfficer.firstName%></td>
                <td><%= policeOfficer.lastName%></td>
                <td><%= policeOfficer.rank%></td>
                <td><%= policeOfficer.department%></td>
                <td><%= policeOfficer.salary%></td>
                <% if (loggedUser) {%>
                    <td>
                        <ul class="list-actions">
                            <li><a class="list-actions-button-details" href="/PoliceOfficer/details/<%= policeOfficer._id%>"><span class="material-symbols-outlined">info</span></a></li>
                            <li><a class="list-actions-button-edit" href="/PoliceOfficer/edit/<%= policeOfficer._id%>"><span class="material-symbols-outlined">edit_square</span></a></li>
                            <li><a class="list-actions-button-delete" href="/PoliceOfficer/delete/<%= policeOfficer._id%>"><span class="material-symbols-outlined">delete</span></a></li>
                        </ul>
                    </td>
                <% } %>
            </tr>
        <% } %>
      </tbody>
  </table>
    <% if (loggedUser) { %>
        <p><a class="button-add" href="/PoliceOfficer/add"><%= __('policeOfficer.list.addNew') %></a></p>
    <% } %>
</main>

<%- include('../../fragments/footer.ejs') %>